<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
    <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
  
        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="journaliers1">
            <ion-label>JOURNALIER</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="mois1"> 
            <ion-label>MOIS</ion-label>
          </ion-tab-button>
      
        </ion-tab-bar>
</ion-tabs>
</ion-content>


