<ion-header>
</ion-header>
    <ion-row>
        <ion-col col-2>
          <th>Designation</th>
        </ion-col>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-col col-2>
            <th>Prix</th>
        </ion-col>
    </ion-row>
 
    <ion-content> 
      
        

          <!-- <ion-list *ngIf="result">
            <ion-item button *ngFor="let m of result.data" (click)="m.Designation = !m.Designation" >
                <h6><ion-icon slot="start" name="arrow-up" *ngIf="!m.Designation"></ion-icon>
                  <ion-icon slot="start" name="arrow-down" *ngIf="m.Designation"></ion-icon></h6>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <h6><ion-label>{{m.Date|date:'dd/MM/yyyy'}}</ion-label></h6>
            </ion-item>
          </ion-list> -->
          <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="tirer pour rafraîchir"
              refreshingSpinner="circles"
              refreshingText="Refreshing..."    
            >
            </ion-refresher-content>
        </ion-refresher>

          <ion-list *ngIf="result">
            <ion-item>
              {{m.Date}}
            </ion-item>
        </ion-list>
          
          <ion-list >
            <ion-item button  (click)="open2 = !open2" detail="false" >
                <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
                  <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon></h6>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <h6><ion-label>Aujourd'hui</ion-label></h6>
            </ion-item>

            <ion-item-group *ngIf="open2">
              
              <ion-list>
                <ion-item *ngFor="let m of listToday">
                  {{m.Designation}}
                  <div class="item-note" slot="end">
                      {{m.Prix}}
                  </div>
                </ion-item>
               </ion-list>
  
          </ion-item-group>

            <ion-item button  (click)="open4 = !open4" detail="false" >
                <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
                   <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon></h6>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <h6><ion-label>Hier</ion-label></h6>
            </ion-item>

          </ion-list>
          

          <ion-item-group *ngIf="open4">
              
            <ion-list>
              <ion-item *ngFor="let m of listHier">
                {{m.Designation}}
                <div class="item-note" slot="end">
                    {{m.Prix}}
                </div>
              </ion-item>
             </ion-list>

          </ion-item-group>


      <!--
       
           <ion-item button  (click)="open2 = !open2" detail="false"  >
            
           <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon></h6> 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           
              <h6>{{m.Date}}</h6>
            
           </ion-item>
      

    <ion-item-group *ngIf="open2">
            
          <ion-row>
    
            <ion-col col-2>
            <ion-item>
              <ion-label>gaz</ion-label>
            </ion-item>
            </ion-col>
            <ion-col col-2>
            <ion-item>
              <ion-label>Belarus</ion-label>
            </ion-item>
            </ion-col>
        </ion-row>
    
                
        <ion-row>
    
                <ion-col col-2>
                <ion-item>
                  <ion-label>gaz</ion-label>
                </ion-item>
                </ion-col>
                <ion-col col-2>
                <ion-item>
                  <ion-label>Belarus</ion-label>
                </ion-item>
                </ion-col>
                <ion-col col-2>
                <ion-item>
                  <ion-label>Belgium</ion-label>
                </ion-item>
                </ion-col>
            </ion-row>
                    
          <ion-row>
    
                <ion-col col-2>
                <ion-item>
                  <ion-label>gaz</ion-label>
                </ion-item>
                </ion-col>
                <ion-col col-2>
                <ion-item>
                  <ion-label>Belarus</ion-label>
                </ion-item>
                </ion-col>
                <ion-col col-2>
                <ion-item>
                  <ion-label>Belgium</ion-label>
                </ion-item>
                </ion-col>
            </ion-row>
          </ion-item-group>
          
       
          <ion-item button  (click)="open3 = !open3" detail="false" >
            
                <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open3"></ion-icon>
                 <ion-icon slot="start" name="arrow-down" *ngIf="open3"></ion-icon></h6> 
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                 <h6>lundi 25 fevrier 2019</h6>
            
             </ion-item>
               
         <ion-item-group *ngIf="open3">
                 
               <ion-row>
         
                 <ion-col col-2>
                 <ion-item>
                   <ion-label>gaz</ion-label>
                 </ion-item>
                 </ion-col>
                 <ion-col col-2>
                 <ion-item>
                   <ion-label>5000</ion-label>
                 </ion-item>
                 </ion-col>
             </ion-row>
         
                     
             <ion-row>
         
                <ion-col col-2>
                    <ion-item>
                      <ion-label>gaz</ion-label>
                    </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    <ion-item>
                      <ion-label>5000</ion-label>
                    </ion-item>
                    </ion-col>
             </ion-row>
                         
                          
             <ion-row>
         
                <ion-col col-2>
                    <ion-item>
                      <ion-label>gaz</ion-label>
                    </ion-item>
                    </ion-col>
                    <ion-col col-2>
                    <ion-item>
                      <ion-label>5000</ion-label>
                    </ion-item>
                    </ion-col>
             </ion-row>
                         
               </ion-item-group>
       
               <ion-item button  (click)="open4 = !open4" detail="false" >
            
                    <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
                     <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon></h6> 
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                     <h6>lundi 25 fevrier 2019</h6>
                
                 </ion-item>
                   
             <ion-item-group *ngIf="open4">
                     
                   <ion-row>
             
                     <ion-col col-2>
                     <ion-item>
                       <ion-label>gaz</ion-label>
                     </ion-item>
                     </ion-col>
                     <ion-col col-2>
                     <ion-item>
                       <ion-label>Belarus</ion-label>
                     </ion-item>
                     </ion-col>
                 </ion-row>
             
                         
                 <ion-row>
             
                         <ion-col col-2>
                         <ion-item>
                           <ion-label>gaz</ion-label>
                         </ion-item>
                         </ion-col>
                         <ion-col col-2>
                         <ion-item>
                           <ion-label>Belarus</ion-label>
                         </ion-item>
                         </ion-col>
                     </ion-row>
                             
                   <ion-row>
             
                         <ion-col col-2>
                         <ion-item>
                           <ion-label>gaz</ion-label>
                         </ion-item>
                         </ion-col>
                         <ion-col col-2>
                         <ion-item>
                           <ion-label>Belarus</ion-label>
                         </ion-item>
                         </ion-col>
                     </ion-row>
                   </ion-item-group>
       
                   <ion-item button  (click)="open5 = !open5" detail="false" >
            
                        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open5"></ion-icon>
                         <ion-icon slot="start" name="arrow-down" *ngIf="open5"></ion-icon></h6> 
                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                         <h6 >lundi 25 fevrier 2019</h6>
                    
                     </ion-item>
                       
                 <ion-item-group *ngIf="open5">
                         
                       <ion-row>
                 
                         <ion-col col-2>
                         <ion-item>
                           <ion-label>gaz</ion-label>
                         </ion-item>
                         </ion-col>
                         <ion-col col-2>
                         <ion-item>
                           <ion-label>Belarus</ion-label>
                         </ion-item>
                         </ion-col>
                     </ion-row>
                 
                             
                     <ion-row>
                 
                             <ion-col col-2>
                             <ion-item>
                               <ion-label>gaz</ion-label>
                             </ion-item>
                             </ion-col>
                             <ion-col col-2>
                             <ion-item>
                               <ion-label>Belarus</ion-label>
                             </ion-item>
                             </ion-col>
                         </ion-row>
                                 
                       <ion-row>
                 
                             <ion-col col-2>
                             <ion-item>
                               <ion-label>gaz</ion-label>
                             </ion-item>
                             </ion-col>
                             <ion-col col-2>
                             <ion-item>
                               <ion-label>Belarus</ion-label>
                             </ion-item>
                             </ion-col>
                         </ion-row>
                       </ion-item-group>
                       -->
    </ion-content>
