<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <br><br><br>


    <form #pret="ngForm" (ngSubmit)="onModif(pret)">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>

                  <ion-radio-group name="prete" [(ngModel)]="pret.prete" p>
                      <ion-row>
                   
                         
                      <ion-row>
                        <ion-radio value="Prêt" mode="md" margin checked="true"></ion-radio>
                        <ion-label class="pret">Prêt</ion-label>
                      </ion-row>
                    
                        <ion-row>
                        <ion-radio value="Remboursement" mode="md" margin></ion-radio>
                        <ion-label class="pret">Remboursement</ion-label>
                      </ion-row>
                   
                    </ion-row>
                   
                    </ion-radio-group>
                    <ion-row>
                     <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="text" name="Nom_Client" placeholder="{{Client}}" [(ngModel)]="pret.Nom_Client"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="number" name="Phone" placeholder="{{Telephone}}" [(ngModel)]="pret.Phone"></ion-input>
                        </ion-item>
                      </ion-col>
                  </ion-row>
          
                  <ion-row>
                      <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="text" name="Libelle" placeholder="{{Designation}}" [(ngModel)]="pret.Libelle"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="number" name="Montant" placeholder="{{Montant}}" [(ngModel)]="pret.Montant"></ion-input>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                    
              </div>
              <div padding>
                <ion-button class="ion-button" color="primary" type="submit" >Modifier</ion-button>

                <ion-button class="ion-button" color="primary" (click)="deletePret(id)" >Supprimer</ion-button>
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>


</ion-content>

<!-- -->