<ion-header>
    <ion-row>
        &nbsp;&nbsp;&nbsp;
        <ion-col col-2>
            <th><h4>Client</h4></th>
        </ion-col>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
       
        <ion-col col-2>
            <th><h4>Montant</h4></th>
        </ion-col>
    </ion-row>

</ion-header>
  
  <ion-content>

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="tirer pour rafraîchir"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."    
          >
          </ion-refresher-content>
      </ion-refresher>


      <!--
      <ion-card-content>
        <ion-item>
          <ion-label>Click test</ion-label>
          <ion-button (click)="onLoadPret()">OK</ion-button>
        </ion-item>
      </ion-card-content>
      -->
      
        <ion-list *ngIf="result">
            <ion-item *ngFor="let m of result.data; let rowIndex=index"  [routerLink]="['/modifier-pret', m.id, m.Client, m.Telephone, m.Designation, m.Montant]">
              {{m.Client}}
              <div class="item-note" slot="end">
                  {{m.Montant}}
              </div>
            </ion-item>
          </ion-list>


  <!--
  <ion-fab vertical="bottom" horizontal="start" slot="fixed"  >
    <p>Total  
    <ion-chip style="background-color: blue; color:white" >
      <ion-label>FCFA</ion-label>
    </ion-chip>
  </p>
 </ion-fab>
 -->

 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/ajoutpret">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
 </ion-fab>
 
</ion-content>

