<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="tirer pour rafraîchir"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."    
        >
        </ion-refresher-content>
    </ion-refresher>
    
  <ion-card>
      <ion-card-content>
          <ion-text color="primary">
              <h1>Résumé du {{myDate|date:'d/MM/yyyy'}}</h1>
            </ion-text>
              <ion-text color="dark">
                  
                 <!-- <ion-item>  h:mm a  
                      <ion-label> Résumé du </ion-label>
                        <ion-datetime displayFormat="DDDD DD MMM, YYYY " [(ngModel)]="myDate"  (ionChange)="(dateChanged($event))"  [dayShortNames]="customDayShortNames"
                        displayFormat="DDDD DD MMM, YYYY "
                        monthShortNames="janvier, fevrier, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, decembre"></ion-datetime>
                    </ion-item> -->
                  <p> 
                    
                      Total Vente : {{totalv}}  FCFA <br>
                      Total Dépense : {{totald}}  FCFA <br>
                      Bénéfice :  {{(totalv)*1 - (totald  )*1}} FCFA
                   
                  </p>
              </ion-text>
          
      </ion-card-content>
    </ion-card>
</ion-content>
<!-- <ion-img src="{{imz.gif}}"></ion-img> -->

