<ion-header>
  </ion-header>
      <ion-row>
          <ion-col>
            <th>Produit</th>
          </ion-col>
          <ion-col>
              <th>Prix</th>
          </ion-col>
          <ion-col col-2>
              <th>Quantité</th>
          </ion-col>
      </ion-row>



<ion-content>
  <ion-item-group button *ngFor="let m of moIs" (click)="m.position= !m.position" detail="false">
      <ion-item>
      <ion-row>
          &nbsp; &nbsp;
          <h5><ion-icon slot="start" name="arrow-up" *ngIf="m.position"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="!m.position"></ion-icon></h5>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{m.title}} - {{formatteDate|date:'yyyy'}}</h5>
      </ion-row>
    </ion-item>
          <ion-list *ngIf="result">
              <div *ngFor="let l of result.data">
                  <div *ngIf="(l.Date|date:'M') == (m.positions)">
                      <div *ngIf="m.position">
                            <ion-row>
                              <ion-col col-2>
                                <th>{{l.Designation}}</th>
                              </ion-col>
                              <ion-col col-2>
                                  <th>{{l.Prix}}</th>
                              </ion-col>
                              <ion-col col-2>
                                  <th>{{l.Prix}}</th>
                              </ion-col> 
                          </ion-row>
                      </div>    
                  </div>
              </div>
      </ion-list>
    </ion-item-group>
</ion-content>
<!--
<ion-list >
    <ion-item *ngFor="let m of moIs">
    <th>{{m.title}}</th>
      <div class="item-note" slot="end">
        <th>{{formatteDate|date:'d-MM-yyyy'}}</th>
      </div>
    </ion-item>
</ion-list>

 <ion-list *ngIf="result && m.position" >
              <ion-item *ngFor="let l of result.data">
              <td *ngIf="(l.Date|date:'MM-yyyy') == (formatteDate|date:'MM-yyyy')">{{l.Date|date:'dd-MM-yyyy'}}</td>
                <div class="item-note" slot="end">
               <td>{{l.Prix}}</td>
                </div>
            </ion-item>    
      </ion-list>




       <ion-item button  (click)="open2 = !open2" detail="false">
      <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon></h6>
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>Hier</h5>
  </ion-item>


<ion-item-group *ngIf="open2">
        

    <ion-row *ngFor="let m of listHier"> 
        <ion-col col-2>
          <h6>{{m.Designation}}</h6> 
        </ion-col>
        <ion-col col-2>
            <h6>{{m.Prix}}</h6>
        </ion-col>
        <ion-col col-2>
            <h6>{{m.Prix}}</h6>
        </ion-col> 
    </ion-row>
</ion-item-group>
-->
