<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
  <ion-title>hebdomadaire</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="tirer pour rafraîchir"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."    
      >
      </ion-refresher-content>
  </ion-refresher>

  <ion-card>
      <ion-card-content>

          <ion-text color="primary">
              <h1>Résumé de la semaine en cours...</h1>
            </ion-text>

              <ion-text color="dark">
                  <p> 
                      Total Vente : {{totalvv}} <br>
                      Total Dépense :  {{totaldd}} <br>
                      Bénéfice : {{(totalvv)*1 - (totaldd  )*1}}  
                  </p>
              </ion-text>
          
      </ion-card-content>
    </ion-card>
</ion-content>
