<ion-header>
</ion-header>

<ion-row>
  <ion-col col-2>
    <th>Jour</th>
  </ion-col>
  <ion-col col-2>
    <th>Montant</th>
  </ion-col>
</ion-row>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="tirer pour rafraîchir" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item button (click)="open2 = !open2" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>Résumé du mois en cours {{myDate|date:'MM/yyyy'}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open2">

      <ion-list>
        <ion-item *ngFor="let m of listMoisAct">
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>

    </ion-item-group>
  </ion-list>

  <ion-list>
    <ion-item button (click)="open4 = !open4" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>Résumé du mois passé</ion-label>
      </h6>
    </ion-item>


    <ion-item-group *ngIf="open4">

      <ion-list>
        <ion-item *ngFor="let m of listMoisPass">
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>

    </ion-item-group>
  </ion-list>

  <ion-list>
    <ion-item button (click)="open6 = !open6" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open6"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open6"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label> Résumé de tous les mois </ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open6">
      <ion-item button (click)="openA = !openA" detail="false">
        <h6>
          <ion-icon slot="start" name="arrow-up" *ngIf="!openA"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="openA"></ion-icon>
        </h6>
        &nbsp; &nbsp; &nbsp; 
        
          <ion-label>Aout</ion-label>
        
      </ion-item>
  
  
      <ion-item-group *ngIf="openA">
  
        <ion-list>
          <ion-item *ngFor="let m of aOut">
            {{m.Designation}}
            <div class="item-note" slot="end">
              {{m.Prix}}
            </div>
          </ion-item>
        </ion-list>
  
      </ion-item-group>

      <ion-item button (click)="openS = !openS" detail="false">
        <h6>
          <ion-icon slot="start" name="arrow-up" *ngIf="!openS"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="openS"></ion-icon>
        </h6>
        &nbsp; &nbsp; &nbsp; 
       
          <ion-label>Septembre</ion-label>
        
      </ion-item>
  
  
      <ion-item-group *ngIf="openS">
  
        <ion-list>
          <ion-item *ngFor="let m of Sept">
            {{m.Designation}}
            <div class="item-note" slot="end">
              {{m.Prix}}
            </div>
          </ion-item>
        </ion-list>
  
      </ion-item-group>

    </ion-item-group>
  </ion-list>

</ion-content>

 <!--
      <ion-list>
        <ion-item button (click)="open0 = !open0" detail="false" *ngIf="open6">
            <h6>
                <ion-icon slot="start" name="arrow-up" *ngIf="!open0"></ion-icon>
                <ion-icon slot="start" name="arrow-down" *ngIf="open0"></ion-icon>
              </h6>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

              <h6>
                  <ion-label>Janvier</ion-label>
                </h6>
        </ion-item>
        <ion-item>
          Fevrier
        </ion-item>
        <ion-item>
          Mars
        </ion-item>
        <ion-item>
          Avril
        </ion-item>
        <ion-item>
         Mai
        </ion-item>
        <ion-item>
          Juin
        </ion-item>
        <ion-item>
         Juillet
        </ion-item>
        <ion-item>
          Aout
        </ion-item>
        <ion-item>
         Septembre
        </ion-item>
        <ion-item>
         Octobre
        </ion-item>
        <ion-item>
         Novembre
        </ion-item>
        <ion-item>
         Decembre
        </ion-item>
      </ion-list>

    </ion-item-group>
  </ion-list>
      -->