 <ion-header>
   <!--
    <ion-row>
        <ion-col col-2>
          <h4>Designation</h4>
        </ion-col>
        <ion-col col-2>
          <h4>Prix</h4>
        </ion-col>
    </ion-row>
   --> 
   <ion-row>
    &nbsp;&nbsp;&nbsp;
    <ion-col col-2>
        <th><h4>Designation</h4></th>
    </ion-col>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
   
    <ion-col col-2>
        <th><h4>Prix</h4></th>
    </ion-col>
</ion-row>

 </ion-header>
 <ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="tirer pour rafraîchir"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."    
        >
        </ion-refresher-content>
    </ion-refresher>


      <!--
      <ion-card-content>
        <ion-item>
          <ion-label>Click test</ion-label>
          <ion-button (click)="onLoadDepense()">OK</ion-button>
        </ion-item>
      </ion-card-content>
      -->

        <ion-list *ngIf="result">
            <ion-item *ngFor="let m of result.data"  [routerLink]="['/modifier-depense', m.id, m.Designation, m.Prix]">
              {{m.Designation}}
              <div class="item-note" slot="end">
                  {{m.Prix}}
              </div>
            </ion-item>
          </ion-list>

  
  
  <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <p>Total  
    <ion-chip style="background-color: blue; color:white" >
      <ion-label>FCFA</ion-label>
    </ion-chip>
  </p>
 </ion-fab>-->

 
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-buttons start>
      <button ion-button color="save" style="background-color: white">
        <p>Total  
          <ion-chip style="background-color: blue; color:white">
                <ion-label>{{somming}} FCFA</ion-label>
          </ion-chip>
        </p>
      </button>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/ajoutdepense">
          <ion-icon name="add"></ion-icon> 
        </ion-fab-button>
      </ion-fab>
    </ion-buttons>
    

  </ion-toolbar>
</ion-footer>
