<ion-header>
    <ion-row>
        <ion-col col-2>
          <h4>Produit</h4> 
        </ion-col>
        <ion-col col-2>
            <h4>P.U</h4>
        </ion-col>
        <ion-col col-2>
            <h4>QT</h4>
        </ion-col> 
    </ion-row>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="tirer pour rafraîchir"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."    
    >
    </ion-refresher-content>
</ion-refresher>


<!--
<ion-card-content>
  <ion-item>
    <ion-label>Click test</ion-label>
    <ion-button (click)="onLoadEntree()">OK</ion-button>
  </ion-item>
</ion-card-content>
-->

<div *ngIf="result">
 <ion-row *ngFor="let m of result.data;  let rowIndex=index" [routerLink]="['/entreedetail', m.id, m.Produit, m.Prix_Unitaire, m.Quantite]">
  <ion-col col-2>
    <p>{{m.Produit}}</p>
  </ion-col>
  <ion-col col-2>
      <p>{{m.Quantite}}</p>
  </ion-col> 
  <ion-col col-2>
    <p>{{m.Prix_Unitaire}}</p>
  </ion-col>
 </ion-row>
</div>
<!--
<ion-list *ngIf="result">
  <ion-item *ngFor="let m of result.data">
      {{m.Produit}}
    <div class="item-note" slot="end">
        {{m.Prix_Unitaire}}
    </div>
    <div class="item-note" slot="end">
        {{m.Quantite}}
    </div>
  </ion-item>
</ion-list>
-->


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/ajoutentre">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>
