<ion-header>
    <ion-toolbar class="ion" color="primary">
        <ion-buttons slot="start">
      
      <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
  
  <ion-title>Fewnu</ion-title>
  </ion-toolbar>
  </ion-header>
  
    <ion-content class="c"><br><br>
  
    
      <ion-item>
        <ion-label class="value">
            {{value}}
          </ion-label>
      </ion-item>
      <div class="body">
      <div *ngFor="let numGroup of numberGroups" class="b">
        <ion-button color="primary" shape="round" *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button>
      
      </div>
    </div>
      <div *ngFor="let numGroup of numberGroups1">
          <ion-button *ngFor="let num of numGroup1" (click)="onButtonPress1(num)" class="calc-button1">{{num}}</ion-button>
        
        </div>
        
      </ion-content>
  