.value{
    text-align: right;
    font-size: 32px;
    margin-right: 0px;
    margin-left: 0px;
    
}

.calc-button{
    width: 25%;
    height:80px;
    margin: 0px;
    border-radius:50%;
   
  

}
.b{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1px;
}
.body{
    
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

.c{
    background-color: lightgreen;
   
}
