<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>mensual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>

                <ion-text color="primary">
                  <h1>Résumé du {{myDate|date:'MM/yyyy'}}</h1>
                </ion-text>
                  <ion-text color="dark">
                      <p> 
                        
                        Total Vente :  {{totalvM}} FCFA <br>
                        Total Dépense :  {{totaldM}} FCFA <br>
                        Bénéfice :  {{(totalvM)*1 - (totaldM  )*1}} FCFA
                       
                      </p>
                  </ion-text>
            
        </ion-card-content>
      </ion-card>
</ion-content>
