<ion-header>
 
</ion-header>

<ion-content>
    <ion-row>
        <ion-col col-2>
          <th>Produit</th>
        </ion-col>
        <ion-col col-2>
            <th>Prix</th>
        </ion-col>
        <ion-col col-2>
            <th>Quantité</th>
        </ion-col>
    </ion-row>
</ion-content>
