<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="{{logo.logo}}" slot="end" routerLink="/calculatrice"></ion-img>
     
    <ion-icon name="more" (click)="presentPopover($event)" slot="end"></ion-icon>
    <ion-icon name="" (click)="presentPopover($event)" slot="end"></ion-icon>
      
  <ion-title>Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-tabs>
        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="vente">
            <ion-icon name="ios-send"></ion-icon>
            <ion-label>VENTE</ion-label>
            <ion-badge></ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="depense">
            <ion-icon name="ios-basket"></ion-icon>
            <ion-label>DEPENSE</ion-label>
          </ion-tab-button>
      
      
          <ion-tab-button tab="pret">
            <ion-icon name="cash"></ion-icon>
            <ion-label>PRET</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  <!--
  <ion-tabs>
        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="vente">
            <ion-label>VENTE</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="depense"> 
            <ion-label>DEPENSE</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="pret"> 
            <ion-label>PRET</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
      -->
     
</ion-content>