<ion-header>
        <ion-row>
                <ion-col col-2>
                  <th>Produit</th>
                </ion-col>
                <ion-col col-2>
                    <th>Prix</th>
                </ion-col>
                <ion-col col-2>
                    <th>Quantité</th>
                </ion-col>
            </ion-row>
</ion-header>

<ion-content>
    <ion-item-group button *ngFor="let m of jour" (click)="m.position= !m.position" detail="false">
        <ion-item>
        <ion-row>
            &nbsp; &nbsp;
            <th><ion-icon slot="start" name="arrow-up" *ngIf="m.position"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="!m.position"></ion-icon></th>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <th>{{m.title}}</th>
        </ion-row>
      </ion-item>
      </ion-item-group>
</ion-content>
