h3{
    color: black;
    text-align: center;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ion-title{
    background-color: rgb(0, 0, 55);
    size: large;
    color: white;
}
ion-button{
    margin-left: 85px;
    
}
 ion-item{
     font-size: 20px;
     border: currentColor;
     margin-left: 20px;
     margin-right: 20px;
 }

 ion-content.background {
    // --background: url('/assets/images/ap5.png') no-repeat 100% 100% ;
     --background: url('/assets/images/ap9.png') no-repeat center;
     
     
 }
 