<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
   <ion-grid>
     <ion-row>
       <ion-col col-1></ion-col>
        <img src="{{logo.logo}}" style="width: 20%; height:30%;border-radius:100%; margin-right: 42%; margin-left: auto; margin-top: 5%;">
     </ion-row>
   </ion-grid><br><br>

   <form #user="ngForm" (ngSubmit)="onLogin(user)">
      <ion-item color="none">
        <ion-label position="floating">Téléphone</ion-label>
        <ion-img src="{{logo1.logo}}" slot="start"></ion-img>
        <ion-input type="text" [(ngModel)]="user.phone" name="phone" ngModel ></ion-input>
      </ion-item>
      <ion-item color='none'>
        <ion-label position="floating">Code Secret</ion-label>
        <ion-img src="{{logo2.logo}}" slot="start"></ion-img>
        <ion-input type="password" [(ngModel)]="user.password"  name="password" ngModel></ion-input>
      </ion-item><br>
        <ion-button type="submit" expand="block" size="medium" color="primary">CONNEXION</ion-button>
    </form> <br>
    <ion-button routerLink="/inscription" color="secondary" shape="block" type="submit" size="medium"  expand="block">
      INSCRIPTION
    </ion-button>

</ion-content> 
