<ion-header>
</ion-header>
    <ion-row>
        <ion-col>
          <th>Produit</th>
        </ion-col>
        <ion-col>
            <th>Prix</th>
        </ion-col>
        <ion-col col-2>
            <th>Quantité</th>
        </ion-col>
    </ion-row>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="tirer pour rafraîchir"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."    
        >
        </ion-refresher-content>
    </ion-refresher>
                  
    <ion-item-group button  (click)="open1 = !open1" detail="false" *ngIf="som_1 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open1"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open1"></ion-icon></h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab1}}</h5>
      </ion-item>
      <div *ngIf="result">
      <div *ngFor="let l of result.data">
      <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate1|date:'dd-MM-yyyy') && open1">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
        </ion-row>
        </div> 
      </div>
      </div>
    </ion-item-group>
                  
    <ion-item-group button  (click)="open2 = !open2" detail="false" *ngIf="som_2 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon></h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab2}}</h5>
      </ion-item>
      <div *ngIf="result">
      <div *ngFor="let l of result.data">
      <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate2|date:'dd-MM-yyyy') && open2">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
        </ion-row>
        </div> 
      </div>
      </div>
    </ion-item-group>
        
                  
    <ion-item-group button  (click)="open3 = !open3" detail="false" *ngIf="som_3 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open3"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open3"></ion-icon></h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab3}}</h5>
      </ion-item>
      <div *ngIf="result">
      <div *ngFor="let l of result.data">
      <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate3|date:'dd-MM-yyyy') && open3">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
        </ion-row>
        </div> 
      </div>
      </div>
    </ion-item-group>

    <ion-item-group button  (click)="open4 = !open4" detail="false" *ngIf="som_4 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon></h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab4}}</h5>
      </ion-item>
      <div *ngIf="result">
      <div *ngFor="let l of result.data">
      <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate4|date:'dd-MM-yyyy') && open4">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
        </ion-row>
        </div> 
      </div>
      </div>
    </ion-item-group>


    <ion-item-group button  (click)="open5 = !open5" detail="false" *ngIf="som_5 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open5"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open5"></ion-icon></h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab5}}</h5>
      </ion-item>
      <div *ngIf="result">
      <div *ngFor="let l of result.data">
      <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate5|date:'dd-MM-yyyy') && open5">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
        </ion-row>
        </div> 
      </div>
      </div>
    </ion-item-group>
    <ion-item-group button  (click)="open6 = !open6" detail="false" *ngIf="som_6 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open6"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open6"></ion-icon></h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab6}}</h5>
      </ion-item>
      <div *ngIf="result">
      <div *ngFor="let l of result.data">
      <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate6|date:'dd-MM-yyyy') && open6">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
        </ion-row>
        </div> 
      </div>
      </div>
    </ion-item-group>   
              

<ion-item-group button  (click)="open7 = !open7" detail="false" *ngIf="som_7 != null">
<ion-item>
<h6><ion-icon slot="start" name="arrow-up" *ngIf="!open7"></ion-icon>
  <ion-icon slot="start" name="arrow-down" *ngIf="open7"></ion-icon></h6>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<h5>{{tab7}}</h5>
</ion-item>
<div *ngIf="result">
<div *ngFor="let l of result.data">
<div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate7|date:'d-MM-yyyy') && open7">
<ion-row>
    <ion-col col-2>
      <th>{{l.Designation}}</th>
    </ion-col>
    <ion-col col-2>
        <th>{{l.Prix}}</th>
    </ion-col>
    <ion-col col-2>
        <th>{{l.Prix}}</th>
    </ion-col> 
</ion-row>
</div> 
</div>
</div>
</ion-item-group>

<ion-item-group button  (click)="open8 = !open8" detail="false" *ngIf="som_8 != null">
    <ion-item>
      <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open8"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open8"></ion-icon></h6>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h5>{{tab8}}</h5>
    </ion-item>
    <div *ngIf="result">
    <div *ngFor="let l of result.data">
    <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate8|date:'dd-MM-yyyy') && open8">
      <ion-row>
          <ion-col col-2>
            <th>{{l.Designation}}</th>
          </ion-col>
          <ion-col col-2>
              <th>{{l.Prix}}</th>
          </ion-col>
          <ion-col col-2>
              <th>{{l.Prix}}</th>
          </ion-col> 
      </ion-row>
      </div> 
    </div>
    </div>
  </ion-item-group>


<ion-item-group button  (click)="open9 = !open9" detail="false" *ngIf="som_9 != null">
    <ion-item>
      <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open9"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open9"></ion-icon></h6>
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab9}}</h5>
  </ion-item>
        <div *ngIf="result">
            <div *ngFor="let l of result.data">
                <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate9|date:'dd-MM-yyyy') && open9">
                    
                        <ion-row>
                          <ion-col col-2>
                            <td>{{l.Designation}}</td>
                          </ion-col>
                          <ion-col col-2>
                              <td>{{l.Prix}}</td>
                          </ion-col>
                          <ion-col col-2>
                              <td>{{l.Prix}}</td>
                          </ion-col> 
                       </ion-row>
                     </div> 
                    </div>
                </div>
  </ion-item-group>

<ion-item-group button  (click)="open10 = !open10" detail="false" *ngIf="som_10 != null">
    <ion-item>
      <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open10"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open10"></ion-icon></h6>
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab10}}</h5>
  </ion-item>
        <div *ngIf="result">
            <div *ngFor="let l of result.data">
                <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate10|date:'dd-MM-yyyy') && open10">
                    <div>
                        <ion-row>
                          <ion-col col-2>
                            <td>{{l.Designation}}</td>
                          </ion-col>
                          <ion-col col-2>
                              <td>{{l.Prix}}</td>
                          </ion-col>
                          <ion-col col-2>
                              <td>{{l.Prix}}</td>
                          </ion-col> 
                       </ion-row>
                      </div>
                </div> 
            </div>
    </div>
  </ion-item-group>

<ion-item-group button  (click)="open11 = !open11" detail="false" *ngIf="som_11 != null">
    <ion-item>
      <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open11"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open11"></ion-icon></h6>
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <h5>{{tab11}}</h5>
  </ion-item>
        <div *ngIf="result">
            <div *ngFor="let l of result.data">
                <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate11|date:'dd-MM-yyyy') && open11">
                    <div>
                        <ion-row>
                          <ion-col col-2>
                            <td>{{l.Designation}}</td>
                          </ion-col>
                          <ion-col col-2>
                              <td>{{l.Prix}}</td>
                          </ion-col>
                          <ion-col col-2>
                              <td>{{l.Prix}}</td>
                          </ion-col> 
                       </ion-row>
                      </div>
                </div> 
            </div>
    </div>
  </ion-item-group>
  <ion-item-group button  (click)="open12 = !open12" detail="false" *ngIf="som_12 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open12"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open12"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab12}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate12|date:'dd-MM-yyyy') && open12">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>

  <ion-item-group button  (click)="open13 = !open13" detail="false" *ngIf="som_13 != null">
   
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open13"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open13"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab13}}</h5>
    </ion-item>
  <div *ngIf="result">
   <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate13|date:'dd-MM-yyyy') && open13">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>

  <ion-item-group button  (click)="open14 = !open14" detail="false" *ngIf="som_14 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open14"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open14"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab14}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate14|date:'dd-MM-yyyy') && open14">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>

  <ion-item-group button  (click)="open15 = !open15" detail="false" *ngIf="som_15 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open15"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open15"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab15}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate15|date:'dd-MM-yyyy') && open15">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>

  <ion-item-group button  (click)="open16 = !open16" detail="false" *ngIf="som_16 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open16"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open16"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab16}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate16|date:'dd-MM-yyyy') && open16">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>

  <ion-item-group button  (click)="open17 = !open17" detail="false" *ngIf="som_17 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open17"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open17"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab17}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate17|date:'dd-MM-yyyy') && open17">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>
  <ion-item-group button  (click)="open18 = !open18" detail="false" *ngIf="som_18 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open18"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open18"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab18}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate18|date:'dd-MM-yyyy') && open18">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>
  <ion-item-group button  (click)="open19 = !open19" detail="false" *ngIf="som_19 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open19"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open19"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab19}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate19|date:'dd-MM-yyyy') && open19">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>
  <ion-item-group button  (click)="open20 = !open20" detail="false" *ngIf="som_20 != null">
      <ion-item>
        <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open20"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="open20"></ion-icon></h6>
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h5>{{tab20}}</h5>
    </ion-item>
  <div *ngIf="result">
  <div *ngFor="let l of result.data">
  <div *ngIf="(l.Date|date:'dd-MM-yyyy') == (formatteDate20|date:'dd-MM-yyyy') && open20">
        <ion-row>
            <ion-col col-2>
              <th>{{l.Designation}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col>
            <ion-col col-2>
                <th>{{l.Prix}}</th>
            </ion-col> 
      </ion-row>
      </div> 
    </div>
   </div>
  </ion-item-group>
</ion-content>